{namespace coleslaw.theme.readable}

{template landing}

    <!-- Start block -->
    <section class="bg-white dark:bg-gray-900">
        <div class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28">
            <div class="mr-auto place-self-center lg:col-span-7">
                <h1 class="max-w-2xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white">Не дай судебным приставам <br>забрать твои деньги!</h1>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">

Налоговая инспекция или иная организация может подать на вас в мировой суд и там примут решение о изъятии ваших средств. При этом вас об этом уведомят лишь позже, и то если письмо не затеряется где-то на почте.
</p>
<p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
Чтобы защититься от судебных приставов, вам надо как можно быстрее узнать о судебном решении и подать на него возрашение, чтобы судья отменил решение до того, как оно вступит в силу.

</p>
                <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
                Используйте нашего Telegram бота, чтобы оперативно узнать про появление новых судебных дел в мировых судах Москвы!
                </p>
                <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4 justify-end">
                    <a href="https://t.me/sud_track_bot" class="inline-flex gap-8 items-center justify-center w-full px-5 py-3 text-xl font-bold text-center text-gray-900 border border-gray-200 rounded-lg sm:w-auto bg-amber-400 hover:bg-amber-500 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-amber-500 dark:bg-amber-600 dark:hover:bg-amber-700 dark:focus:ring-gray-800">

                        <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 496 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M248 8C111 8 0 119 0 256S111 504 248 504 496 393 496 256 385 8 248 8zM363 176.7c-3.7 39.2-19.9 134.4-28.1 178.3-3.5 18.6-10.3 24.8-16.9 25.4-14.4 1.3-25.3-9.5-39.3-18.7-21.8-14.3-34.2-23.2-55.3-37.2-24.5-16.1-8.6-25 5.3-39.5 3.7-3.8 67.1-61.5 68.3-66.7 .2-.7 .3-3.1-1.2-4.4s-3.6-.8-5.1-.5q-3.3 .7-104.6 69.1-14.8 10.2-26.9 9.9c-8.9-.2-25.9-5-38.6-9.1-15.5-5-27.9-7.7-26.8-16.3q.8-6.7 18.5-13.7 108.4-47.2 144.6-62.3c68.9-28.6 83.2-33.6 92.5-33.8 2.1 0 6.6 .5 9.6 2.9a10.5 10.5 0 0 1 3.5 6.7A43.8 43.8 0 0 1 363 176.7z"/></svg>
                        <span class="whitespace-nowrap">Перейти в бота</span>
                    </a> 
                </div>
            </div>
            <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
                <img src="./images/landing-hero.webp" class="object-cover" alt="hero image">
            </div>                
        </div>
    </section>
    <!-- End block -->

{/template}
